<h1>Events in <%= @city %></h1>

<div id="api"></div>
<img id="art" src="" height="200" width="200" style="float:left;margin-right:20px;">
<div>
  <div><b>Track: </b><span id="track"></span></div>
  <div><b>Album: </b><span id="album"></span></div>
  <div><b>Artist: </b><span id="artist"></span></div>
  <div><b>Position: </b>
    <span style="display:inline-block;width:200px;border:1px solid black;">
      <span id="position" style="display:inline-block;background-color:#666">&nbsp;</span>
  </span></div>
  <div>
   <button id="next">Yuck</button>
  </div>
</div>
<br /><br /><br /><br /><br /><br />
<hr />

<ul style="list-style-type:none;">
<% @events.each do |event| %>

<li> <!--<%= event %>-->
 <img style="float:left; width: 350px " src="<%= event['EventGroupImageURL'] %>" />
  <div style="float:left; padding-left:10px; width:400px">
  <%= convert(event["Date"]).to_formatted_s(:long) %><br />
  <a href="/events/<%= event["Id"] %>">
  <%= event["EventGroupName"] %> @ <%= event["VenueName"] %>
  </div>
 </a>
</li>
<div style="clear:both">&nbsp;</div>
<br />
<% end %>
</ul>
<script type="text/javascript">
top_five = <%= @top_five %>;
var playbackToken = "<%= @playbackToken %>";
$(document).ready(function() {
$('#api').bind('ready.rdio', function() {
//    $(this).rdio().play("t15558053");
  });
});
</script>
